@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-bg-color: #171717;
  --secondary-bg-color: #2e2f38;
  --black-bg-color: #000000;
  --gray-bg-color: #4e505f;
  --blue-bg-color: #4b5efc;

  --primary-font-color: #ffffff;
  --secondary-font-color: #747474;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body{
  background-color: var(--black-bg-color);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  width: 100vw;
  height: 100dvh;
  background-color: var(--primary-bg-color);

}

@media screen and (min-width: 720px){
  .calculator{
    width: 30vw;
    min-width: 400px;
    height: 100dvh;
    border-radius: 5%;
  }
}


.feature-panel{
  width: 100%;
  height: 10%;
  background-color: #fff;
}

.display-panel{
  width: 100%;
  height: 30%;
  background-color: #f3f3f3;
}

.button-panel{
  width: 100%;
  height: 60%;
  background-color: #3f3f3f;
}