@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #17171c;
  --secondary-bg-color: #2e2f38;
  --black-bg-color: #000000;
  --gray-bg-color: #4e505f;
  --blue-bg-color: #4b5efc;

  --primary-font-color: #ffffff;
  --secondary-font-color: #747474;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--black-bg-color);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100vw;
  height: 100dvh;
  background-color: var(--primary-bg-color);

}

@media screen and (min-width: 720px) {
  .calculator {
    width: 30vw;
    min-width: 400px;
    height: 100dvh;
    border-radius: 5%;
  }
}


.feature-panel {
  width: 100%;
  height: 10%;
  background-color: var(--primary-bg-color);
}

.display-panel {
  width: 100%;
  height: 30%;
  background-color: var(--primary-bg-color);
}

.button-panel {
  width: 100%;
  height: 60%;
  background-color: var(--primary-bg-color);
}


/* feature panel */
.feature-panel {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.uwu-button {
  width: 2rem;
  height: 2rem;
  background-image: url('./public/images/uwu-girl-icon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.theme-switch-button {
  width: 4rem;
  height: 2rem;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
}

.theme-switch-button>.circle-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--gray-bg-color);
}

.full-screen-button {
  width: 2rem;
  height: 2rem;
  background-image: url('./public/images/fullscreen.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* display panel */
.display-panel{
  display: flex;
  justify-content: center;
  align-items: end;
}

.input-panel{
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  color: var(--primary-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;
  padding: 0.5rem;
}



/* button panel */

.button-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-panel > .row-1, .row-2, .row-3, .row-4, .row-5{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  width: 90%;
  gap: 1.5rem;
}

button{
  all: unset;
  background-color: var(--secondary-bg-color);
  color: var(--primary-font-color);
  font-size: 2rem;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}