@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #fff3de;
}

header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #fff3de;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(34, 39, 35, 0.3);
  z-index: 1000;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #222723;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9ffe4;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.calculator {
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px;
  gap: 30px;
}


.display-panel {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
  background-color: #222723;
  color: #f9ffe4;
  padding: 2px 6px 2px 0;

}

.display-panel>.result-panel {
  font-size: 2rem;
}

.display-panel>.history-1 {
  font-size: 1.5rem;

}

.display-panel>.history-2 {
  font-size: 1rem;
}

.display-panel>.history-3 {
  font: 0.5rem;
}

.button-panel {
  width: 100%;
  height: 60vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-panel>.row-1,
.row-2,
.row-3,
.row-4,
.row-5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f3ee;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.dark-button {
  background-color: #eee6de;
}

.button-equal {
  background-color: #fad54d;
}

.button-uwu {
  background: rgba(253, 201, 207, 0.4);
  font-size: 1.1rem;
  font-weight: bolder;
}

.button-uwu:hover,
.button-uwu:active {
  background-color: rgba(253, 201, 207, 1);
  cursor: pointer;
}

.button-full-screen {
  background-image: url('https://img.icons8.com/?size=100&id=65966&format=png&color=000000');
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
}

.button-theme-switch {
  background-image: url('https://img.icons8.com/?size=100&id=4922&format=png&color=000000');
  background-size: 2rem;
  background-position: center;
  background-repeat: no-repeat;
}


@media screen and (min-width: 500px){
  .calculator{
    width: 60vw;
    height: 85vh;
  }
}

@media screen and (min-width: 900px) {
  main{
    margin-top: 25px;
  }
  .calculator {
    width: 30vw;
    height: 85vh;
  }

  .display-panel {
  width: 100%;
  height: 20vh;
  }

  .display-panel>.result-panel {
  font-size: 2rem;
}

.display-panel>.history-1 {
  font-size: 1.5rem;

}

.display-panel>.history-2 {
  font-size: 1rem;
}

.display-panel>.history-3 {
  font: 0.5rem;
}
  .button-panel {
  width: 100%;
  height: 60vh;
}

}

